#columna1 {
    background-color: aqua;
}
#columna2  {
    background-color: bisque;
}
#columna3  {
    background-color:blue;
}
#columna4  {
    background-color:brown
}
#columna5  {
    background-color:chartreuse;
}
